<html ng-app="myWetherApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div ng-controller="myWetherCtrl">

<form class="pure-form">
<fieldset>
	<legend>My Wether App</legend>
</fieldset>
Latitude : <input type="number" ng-init="location.lati=24.91" ng-model="location.lati"/><br/>
Longitude : <input type="number" ng-init="location.longi=67.08" ng-model="location.longi"/><br/>

</form>

<p>
<button class="pure-button pure-button-primary" ng-click="fetch(location)">Fetch </button>
</p>
<h2>{{place}}</h2>
<table class="pure-table pure-table-bordered">
<thead>
	<tr>
		<th  ng-repeat="key in keys">{{key}}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td  ng-repeat="val in vals track by $index">{{val }}</td>
	</tr>
</tbody>
</table>
</div>
<script src="angular.js"></script>
<script src="myWetherApp.js"></script>
<script src="myWetherCtrl.js"></script>

</body>
</html>